@import "../node_modules/bootstrap/scss/bootstrap";

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card {
  flex-basis: 50% !important;
  flex-grow: 0 !important;
  margin: 0 auto !important;
  height: 50%;
  width: 50%;
}

img {
  cursor: pointer;
}

#points {
  color: green;
}

.fadeOut {
  transition: 1s opacity ease-out;
}

#gameResult {
  display: none;
}

.loserText {
  color: red;
}

.winnerText {
  color: green;
}
